@page "/counter2"
@rendermode RenderMode.InteractiveServer

<PageTitle>Counter 2, renderizado del lado del servidor </PageTitle>


<h1>Counter 2, renderizado del lado del servidor </h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        Console.WriteLine("Incrementando contador:" + currentCount);
        currentCount++;
    }
}
