@page "/counter"
@* @rendermode InteractiveWebAssembly solo lo pude hacer andar desde un proyecto webassembly *@
@rendermode InteractiveServer
@inject ILogger<Counter> Logger

@* Observar como a simple vista se parece mucho a una página Razor *@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@* Puedo acceder a variables definidas dentro del código C#*@
<p role="status">Current count: @currentCount</p>

@* 1) Cuando el usuario hace click en el botón, se ejecuta en el cliente la función
    IncrementCount definida más abajo.
   2) Observar que en ningún momento escribimos código JS
   3) Tampoco estamos devolviendo una página html que contenga el nuevo valor del contador
   (como haríamos en Razor Pages)
   4) Cuando esta página .razor (Componente Blazor) se renderice, se generará el código necesario para
   que el browser interactúe con el servidor 
*@
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        //Es muy importante entender que este log se genera en el servidor
        Logger.LogInformation($"Incrementé contador, nuevo valor: {currentCount}");
    }
}
