@page "/sensors/edit"
@using Microsoft.EntityFrameworkCore
@using EjemploBlazorConEntityFramework.Model
@inject IDbContextFactory<EjemploBlazorConEntityFramework.Data.EjemploBlazorConEntityFrameworkContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Sensor</h2>
<hr />
@if (Sensor is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Sensor" OnValidSubmit="UpdateSensor" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Sensor.Id" value="@Sensor.Id" />
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <InputText id="nombre" @bind-Value="Sensor.Nombre" class="form-control" />
                    <ValidationMessage For="() => Sensor.Nombre" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion:</label>
                    <InputText id="descripcion" @bind-Value="Sensor.Descripcion" class="form-control" />
                    <ValidationMessage For="() => Sensor.Descripcion" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="valoractual" class="form-label">ValorActual:</label>
                    <InputNumber id="valoractual" @bind-Value="Sensor.ValorActual" class="form-control" />
                    <ValidationMessage For="() => Sensor.ValorActual" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="prendido" class="form-label">Prendido:</label>
                    <InputCheckbox id="prendido" @bind-Value="Sensor.Prendido" class="form-check-input" />
                    <ValidationMessage For="() => Sensor.Prendido" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/sensors">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Sensor? Sensor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Sensor ??= await context.Sensor.FirstOrDefaultAsync(m => m.Id == Id);

        if (Sensor is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateSensor()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Sensor!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!SensorExists(Sensor!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/sensors");
    }

    private bool SensorExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Sensor.Any(e => e.Id == id);
    }
}
