@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Ejemplo de aplicación WEB con ASP.NET Core MVC y Razor Pages</h2>
    <p>

        <!-- tengo que especificar el nombre del controller y del action  -->
        <a asp-controller ="Vehiculo" asp-action="GetAllVehiculos">Listar vehiculos CRUD</a>
        <br>
 
        <br>
        <a asp-controller="Vehiculo" asp-action="EjemploAcoplado">Ejemplo 1: Ejecutar ejemplo acoplado</a>
        <br>
        <a asp-controller="Vehiculo" asp-action="EjemploDondeDevuelvoHtml">Ejemplo 2:Solicitar archivo html</a>
        <br>
        <br>
        <br>

        <a asp-controller="Cliente" asp-action="MostrarClientes">Ejemplo de carga de página parcial con Ajax</a>

</div>
