@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Ejemplo de aplicación WEB con ASP.NET Core MVC y Razor Pages</h2>
    <p>

        <!--            
            asp-controller es un un Tag Helper de ASp.NET Core que se termina renderizando a un 
            html del estilo <a href="/Vehiculo/GetAllVehiculos">Listar vehiculos CRUD</a>

            tengo que especificar el nombre del controller y del action

            si observamos el código del lado del nevegador vamos a ver que se renderizó como
            <a href="/Vehiculo">Listar vehiculos CRUD</a> ya que el framework optimiza la url generada
            por el motivo de que GetAllVehiculos es el action por defecto del controller Vehiculo
        -->
        <a asp-controller ="Vehiculo" asp-action="GetAllVehiculos">Listar vehiculos CRUD</a>
        <br>
 
        <br>
       
        <br>
        <br>

        <a asp-controller="Cliente" asp-action="MostrarClientes">Ejemplo de carga de página parcial con Ajax</a>

</div>
