@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Ejemplo de aplicación WEB con ASP.NET Core MVC y Razor Pages</h2>
    <p>

        <!-- tengo que especificar el nombre del controller y del action  -->
        <a asp-controller ="Vehiculo" asp-action="GetAllVehiculos">Listar vehiculos</a>
     
        </p>
</div>
